.paypal_promotions_container {
    margin: 20px 0;
    border: solid 1px #e4e7ee;
}

.box__footer {
    color: #6C7378;
    font-size: 10px;
    line-height: 1.38461538;
    margin: 50px 0 10px 0;
    padding: 0 10px;
    text-align: center;
}

.paypal_promotions_container__box {
    background-color: #ffffff;
}

.paypal_promotions_container__header-banner {
    background: url('../images/header-banner.png') no-repeat;
    height: 200px;
    margin: 0 auto;
    max-width: 750px;
}

.paypal_promotions_container__header-text {
    margin: 0 auto 30px;
    max-width: 750px;
    text-align: center;
}

.paypal_promotions_container__content {
    color: #6C7378;
    font-size: 15px;
    height: 81px;
    line-height: 1.8;
    margin: 0 auto;
    max-width: 650px;
    text-align: center;
}

.paypal_promotions_container__action-btn {
    margin: 40px auto;
    width: 305px;
}

.paypal_promotions_container__row {
    display: flex;
    min-height: 200px;
}

.row__item {
    flex: 1;
}

.item__image {
    height: 120px;
    margin: 0 auto;
    width: 117px;
}

.item__image-first {
    background: url('../images/icon-1.png') no-repeat;
}

.item__image-second {
    background: url('../images/icon-2.png') no-repeat;
}

.item__image-third {
    background: url('../images/icon-3.png') no-repeat;
}

.item__text {
    margin: 20px 30px;
    text-align: center;
}

.Rectangle-2-Copy-2 {
    width: 100%;
    background-color: #ffffff;
    border: solid 1px #e4e7ee;
}

.Question {
    width: 767px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.79;
    color: #0070BA;
    vertical-align: middle;
    display: inline-block;
    margin: 12px 0;
}

.Expand-Icon {
    width: 7px;
    margin-right: 15px;
    margin-left: 30px;
    position: relative;
    top:2px;
    display: inline-block;
}

.rotate {
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.rotate.down {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.Font-Weight {
    font-weight: bold;
}

.Panel-Body {
    background: #ffffff;
    padding: 15px 30px;
    border: solid 1px #e4e7ee;
    border-top: 0;
    padding-left: 55px;
    color: #6c7378;
}

.Panel-Body-Div {
    padding: 0;
}

.Text-Over-Image {
    width: 35px;
    height: 22px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    margin-top: -112px;
    margin-left: 54px;
    font-weight: 800;
    font-family: 'PayPal-Sans', sans-serif;
}

.Legal-Text {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.vx_text-legal {
    font-size: 10px;
}

.No-Bottom-Border {
    border-bottom: none;
}

.vx_text-body {
    font-size: 0.9375rem;
    line-height: 1.6;
    font-weight: 400;
    text-transform: none;
    font-family: 'PayPal-Sans', sans-serif;
}

.vx_text-body_secondary {
    font-size: 0.8125rem;
    line-height: 1.84615385;
    font-weight: 400;
    text-transform: none;
    font-family: 'PayPal-Sans', sans-serif;
}
